@import "syntax-variables";

.editor-colors {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
}

.editor {
  background-color: @syntax-background-color;
  color: @editor-color;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @invisible-color;
  }

  .invisible-character {
    color: @invisible-color;
  }

  .gutter {
    background-color: @background-color;
    color: @invisible-color;

    .line-number {
      &.cursor-line {
        background-color: #dddddd;
        color: @black;
      }

      &.cursor-line-no-selection {
        color: @black;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @light-gray;
  }

  .invisible {
    color: @invisible-color;
  }

  .cursor {
    color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @selection-color;
  }
}

.editor .search-results .marker .region {
  background-color: transparent;
  border: 1px solid @syntax-result-marker-color;
}

.editor .search-results .marker.current-result .region {
  border: 1px solid @syntax-result-marker-color-selected;
}

.comment {
  color: @comment-color;
}

.entity {
  &.name.type {
    color: @editor-color;
  }

  &.other.inherited-class {
    color: @editor-color;
  }
}

.keyword {
  color: @blue;

  &.control {
    color: @blue;
  }

  &.operator {
    color: @operator-color;
  }

  &.other.special-method {
    color: @blue;
  }

  &.other.unit {
    color: @unit-color;
  }
}

.storage {
  color: @blue;
}

.constant {
  color: @constant-color;

  &.character.escape {
    color: @cyan;
  }

  &.numeric {
    color: @numeric-color;
  }

  &.other.color {
    color: @color-color;
  }

  &.other.symbol {
    color: @constant-color;
  }
}

.variable {
  color: @variable-color;

  &.interpolation {
    color: darken(@red, 10%);
  }

  &.parameter.function {
    color: @parameter-color;
  }
}

.invalid.illegal {
  background-color: @red;
  color: @syntax-background-color;
}

.string {
  color: @string-color;

  &.regexp {
    color: @string-color;

    .source.ruby.embedded {
      color: @string-color;
    }
  }

  &.other.link {
    color: @red;
  }
}

.punctuation {
  &.definition {
    &.comment {
      color: @comment-color;
    }

    &.string,
    &.variable,
    &.parameters,
    &.array {
      color: @variable-color;
    }

    &.heading,
    &.identity {
      color: @blue;
    }

    &.bold {
      color: @light-orange;
      font-style: bold;
    }

    &.italic {
      color: @purple;
      font-style: italic;
    }
  }

  &.section.embedded {
    color: @editor-color;
  }

}

.support {
  &.class {
    color: @class-color;
  }

  &.function  {
    color: @editor-color;

    &.any-method {
      color: @editor-color;
    }
  }
}

.entity {
  &.name.function {
    color: @function-color;
  }

  &.name.class, &.name.type.class {
    color: @editor-color;
  }

  &.name.section {
    color: @blue;
  }

  &.name.tag {
    color: @tag-color;
  }

  &.other.attribute-name {
    color: @attribute-color;

    &.id {
      color: @blue;
    }
  }
}

.meta {
  &.class {
    color: @light-orange;
  }

  &.link {
    color: @orange;
  }

  &.require {
    color: @blue;
  }

  &.selector {
    color: @blue;
  }

  &.separator {
    background-color: @gray;
    color: @syntax-text-color;
  }
}

.none {
  color: @syntax-text-color;
}

.markup {
  &.bold {
    color: @orange;
    font-style: bold;
  }

  &.changed {
    color: @purple;
  }

  &.deleted {
    color: @red;
  }

  &.italic {
    color: @purple;
    font-style: italic;
  }

  &.heading .punctuation.definition.heading {
    color: @blue;
  }

  &.inserted {
    color: @green;
  }

  &.list {
    color: @red;
  }

  &.quote {
    color: @orange;
  }

  &.raw.inline {
    color: @green;
  }
}

.source.gfm .markup {
  -webkit-font-smoothing: auto;
  &.heading {
    color: @green;
  }
}

.editor.mini .scroll-view {
  padding-left: 1px;
}

.source.yaml .entity.name.tag.yaml {
  color: @editor-color;
  text-decoration: none;
}

.punctuation.separator.method.ruby,
.punctuation.separator.variable.ruby,
.punctuation.separator.key-value.yaml,
.meta.delimiter.method.period.js,
.punctuation.separator.key-value.css,
.meta.delimiter.method.period.coffee,
.punctuation.section.tag.twig {
  color: @puntuation-color;
}

.source.ruby,
.source.ruby.rails {
  color: @editor-color;
}

.punctuation.definition.variable.php {
  color: @puntuation-color;
}

.match.highlight-info {
  border: 1px solid @red;
}

.punctuation.string.begin,
.punctuation.string.end {
  color: @quote-color;
}
