// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@cyan: #8abeb7;
@blue: #0000ff;
@purple: #b294bb;
@green: #b5bd68;
@red: #ff0000;
@orange: #de935f;
@light-orange: #f0c674;
@black: #000000;
@white: #ffffff;

@background-color: #eeeeee;
@comment-color: #bbbbbb;
@cursor-color: #000000;
@invisible-color: #d9d9d9;
@editor-color: #000000;
@class-color: #aa00aa;
@variable-color: @editor-color;
@string-color: rgb(242, 0, 0);
@string-bg-color: rgb(246, 233, 233);
// @function-color: @editor-color;
@function-color: rgb(0, 145, 0);
@operator-color: @class-color;
@numeric-color: @string-color;
@unit-color: @string-color;
@constant-color: @class-color;
@parameter-color: @editor-color;
@puntuation-color: @class-color;
@attribute-color: @blue;
@tag-color: @red;
@color-color: @class-color;
@quote-color: rgb(141, 0, 0);
@selection-color: LightSteelBlue;
